<div class="heading" style="display:center">
    <h2>Photo Gallery</h2> </div>
<div class="container">
        <div>
            <img class="single" src="assets/images/a.jpg.jpg" alt="Technology">
        </div>
        <div>
            <img class="single" src="assets/images/f.jpg.jpg" alt="Technology">
        </div>

        <div>
            <img class="single" src="assets/images/e.jpg.jpg" alt="Technology">
        </div>

        <div>
            <img class="single" src="assets/images/c.jpg.jpg" alt="Technology">
        </div>

        <div>
            <img class="single" src="assets/images/d.jpg.jpg" alt="Technology">
        </div>

        <div>
            <img class="single" src="assets/images/b.jpg.jpg" alt="Technology">
        </div>
        
        <div>
            <img class="single" src="assets/images/g.jpg.jpg" alt="Technology">
        </div>
    </div>
