<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <h1>Home Page</h1>
      <nav>
        
        <button><a routerLinkActive="active" routerLink="/tdform">TDForm</a></button>
        <br>
        <button btn-btn-primary><a routerLinkActive="active" routerLink="/rform">RTForm</a></button>
        <br>
        <button><a routerLinkActive="active" routerLink="/assignment">Assignment</a></button>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>