<h1 class="assign">ASSINGNEMENT</h1>
<hr>
<h2>Question1 : reverse</h2>
<p>{{answer1}}</p>
<hr>

<h2>Question2 : Sort ana Array</h2>
<ul>
    <li *ngFor="let user of answer2">
        {{user.name}}
    </li>
</ul>
<hr>

<h2>Question3 :  Create a new array of objects from the following data which only contains one property called 'name' where name = firstName + ' ' + lastName ?</h2>
<ul>
    <li *ngFor="let user of answer3">
       {{user.firstName}} {{user.lastName}}

    </li>
</ul>
<hr>

<h2>Question4 : Concatenate all the names into one string using inbuilt array function. Hint: array.reduce(). Extra: try solving it using loops too ?</h2>
 
    <li *ngFor="let user of answer4">
        {{user.firstName}} {{user.lastName}}</li>
<hr>

<h2>Question5 : Write a function called getCarsMadeAfterYear(year) which will take year as a parameter and return all the cars (objects) made after the value specified in the parameter year.
</h2>
<ul>
   <li *ngFor="let user of answer5">
    {{user.carMake}} {{user.modelYear}}

   </li>
</ul>
<hr>

<h2>Create a new array of objects by merging the following data by matching their IDs:</h2>
<ul>
    <li *ngFor=" let transaction of answer6">
        {{transaction.id}} has {{transaction.type}} {{transaction.date}} {{transaction.amount}}

    </li>
</ul>
<hr>

<h3>Find the number of transaction in month of feb</h3>
<ul>
    <li *ngFor="let transaction of answer7">
        {{transaction.id}} {{transaction.type}} {{transaction.date}} {{transaction.amount}}
    </li>
    
</ul>
<hr>

<h2>Remove duplicates from the following array:</h2>
<li>{{answer8}}</li>
